@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.header-content{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}

.logo-title img{
    /* max-height: 0px; */
    max-width: 150px;
}


.nav-bar ul{
    list-style: none;
    display: flex;
    gap: 20px;

}


.nav-bar{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}
